<head>
  <script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>     
  <script src="bar_chart.js"></script>
</head>

<div>
 <div>Please select a City to view the reasons for stop and search in different UK cities</div>
      <select id="selDataset" onchange="optionChanged(this.value)">
          <option value="edinburgh">Edinburgh</option>
          <option value="birmingham">Birmingham</option>
          <option value="london">London</option>
          <option value="liverpool">Liverpool</option>
          <option value="manchester">Manchester</option>
          <option value="surrey">Surrey</option>
        
      </select>
</div>

<div id="barchart" style="width:600px;height:650px;"></div>
