<head>
    <script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script src="gender_pie.js"></script>
</head>

<div>
   <div>Please select a city to view the split of stop and search based on sex</div>
        <select id="selDataset" onchange="optionChanged(this.value)">
            <option value="London">London</option>
            <option value="Liverpool">Liverpool</option>
            <option value="Birmingham">Birmingham</option>
            <option value="Surrey">Surrey</option>
            <option value="Manchester">Manchester</option>
            <option value="Edinburgh">Edinburgh</option>
        </select>
</div>

<div id="pie" style="width:100%;max-width:700px"></div>
